h1 {
    color:red;
}

.navbar-wrapper {
    background: #8b65d1;
    background: -webkit-linear-gradient(90deg, #8b65d1 0%, #4c298b 100%);
    background: linear-gradient(90deg, #8b65d1 0%, #4c298b 100%);
    width:100%;
}